#jinja2:variable_start_string:'[%' , variable_end_string:'%]'
version: "3.3"

networks:
  phoenix:
    driver: overlay
    attachable: true

volumes:
  mongodb_master_data:
    driver: local

services:

  reverse_proxy:
    image: "registry.gitlab.com/mat.lambertini/xpepper/phoenix-revproxy:latest"
    ports:
      - "80:[% http_exposed_port %]"
    networks:
      - phoenix
    labels:
      com.xpeppers.service: "revproxy"
    logging:
{% if logdriver == "syslog" %}
      driver: syslog
      options:
        syslog-address: "udp://[% syslog_server %]:[% syslog_port %]"
        tag: "REVPROXY/{{.ImageName}}/{{.Name}}/{{.ID}}"
{% else %}
      driver: journald
{% endif %}

  phoenix-kata:
    image: "registry.gitlab.com/mat.lambertini/xpepper/phoenix-kata:latest"
    depends_on:
      - mongodb-p1
{% for sec in range(1, mongodb_secondaries+1) %}
      - mongodb-s[% sec %]
{% endfor %}
    environment:
      DB_CONNECTION_STRING: "mongodb://[% mongodb_user %]:[% mongodb_user_password %]@mongodb-p1:27017{% for n in range(1, mongodb_secondaries+1) %},mongodb-s[% n %]:27017{% endfor %}/[%  mongodb_phoenix_db %]?replicaSet=[% mongodb_rs_name %]"
    networks:
      - phoenix
    labels:
      com.xpeppers.service: "phoenix-kata"
    logging:
{% if logdriver == "syslog" %}
      driver: syslog
      options:
        syslog-address: "udp://[% syslog_server %]:[% syslog_port %]"
        tag: "PHOENIX-KATA/{{.ImageName}}/{{.Name}}/{{.ID}}"
{% else %}
      driver: journald
{% endif %}

  mongodb-p1:
    image: 'bitnami/mongodb:latest'
    environment:
      MONGODB_ROOT_PASSWORD: [% mongodb_root_password %]
      MONGODB_REPLICA_SET_MODE: primary
      MONGODB_REPLICA_SET_NAME: [% mongodb_rs_name|default("replicaset") %]
      MONGODB_REPLICA_SET_KEY: [% mongodb_rs_key %]
      MONGODB_USERNAME: [% mongodb_user %]
      MONGODB_PASSWORD: [% mongodb_user_password %]
      MONGODB_DATABASE: [% mongodb_phoenix_db %]
      MONGODB_ADVERTISED_HOSTNAME: "mongodb-p1"
    volumes:
      - 'mongodb_master_data:/bitnami'
    networks:
      - phoenix
    labels:
      com.xpeppers.service: "mongodb"
    deploy:
      placement:
        constraints:
          - "node.hostname == manager-1"
    logging:
{% if logdriver == "syslog" %}
      driver: syslog
      options:
        syslog-address: "udp://[% syslog_server %]:[% syslog_port %]"
        tag: "MONGODB/{{.ImageName}}/{{.Name}}/{{.ID}}"
{% else %}
      driver: journald
{% endif %}

{% for sec in range(1, mongodb_secondaries+1) %}
  mongodb-s[% sec %]:
    image: 'bitnami/mongodb:latest'
    depends_on:
      - mongodb-p1
    environment:
      MONGODB_PRIMARY_ROOT_PASSWORD: [% mongodb_root_password %]
      MONGODB_REPLICA_SET_MODE: secondary
      MONGODB_PRIMARY_HOST: mongodb-p1
      MONGODB_PRIMARY_PORT_NUMBER: 27017
      MONGODB_REPLICA_SET_NAME: [% mongodb_rs_name|default("replicaset") %]
      MONGODB_REPLICA_SET_KEY: [% mongodb_rs_key %]
      MONGODB_ADVERTISED_HOSTNAME: "mongodb-s[% sec %]"
    networks:
      - phoenix
    labels:
      com.xpeppers.service: "mongodb"
    logging:
{% if logdriver == "syslog" %}
      driver: syslog
      options:
        syslog-address: "udp://[% syslog_server %]:[% syslog_port %]"
        tag: "MONGODB/{{.ImageName}}/{{.Name}}/{{.ID}}"
{% else %}
      driver: journald
{% endif %}

{% endfor %}
