# netdata conf file to monitor nginx
revproxy:
  name: 'Phoenix Reverse Proxy'
  url  : 'http://{{ first_manager_ip }}:80/basic_status'
  retries: 60             # the JOB's number of restoration attempts
  autodetection_retry: 1  # the JOB's re-check interval in seconds

